.bookmarks-window {
    position: absolute;
    right: 7vw;
    background-color: #fff;
    width: 30vw;
    min-width: 300px;
    height: auto;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 28px 15px 61px 7px rgba(0, 0, 0, 0.1);
}

.bookmarks-window li img {
    width: 100px;
}

.bookmarks-card {
    list-style: none;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin: 0 10px;
}