.cart-window {
    position: absolute;
    right: 4vw;
    background-color: #fff;
    min-width: 500px;
    width: 50vw;
    height: auto;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 28px 15px 61px 7px rgba(0, 0, 0, 0.1);
}

.cart-window li img {
    width: 100px;
}

.cart-window-card {
    list-style: none;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 4fr 6fr 3fr 5fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin: 0 10px;
}

.cart-window-card li {
    align-self: center;
}

.cart-sum {
    text-align: right;
    margin-right: 10px;
    font-size: large;
    font-weight: 600;
}

.cart-window-item-sum {
    justify-self: center;
}

.cart-submit {
    width: 90%;
    height: 30px;
    margin: 10px 5%;
    border: 0;
    border-radius: 10px;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 500ms ease;
    background-color: rgb(255, 214, 164);
}

.cart-submit:hover {
    opacity: 1;
}