.header-icons {
    height: 20px;
    padding: 2px;
    margin-left: 5px;
    transition: transform 500ms ease;
}

.header-icons:hover,
.header-icons.active {
    transform: scale(2);
}

.bookmark-card-icon {
    font-size: x-large;
    position: absolute;
    z-index: 10;
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: transform 500ms ease
}

.bookmark-card-icon:hover,
.bookmark-window-icon:hover {
    transform: scale(1.5)
}

.bookmark-window-icon {
    font-size: x-large;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 500ms ease
}