.items-list {
    grid-gap: 1px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

.item-card-devider {
    border-top: 1px solid rgba(204, 214, 228, .6);
    width: fit-content;
}

.item-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    grid-column-start: span 2;
    height: 100%;
    width: 100%;
    padding: 2px;
}

.image-container {
    max-width: 230px;
    min-height: 20px;
    text-align: center;
}

.item-card li img {
    width: auto;
    max-width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
    object-fit: contain;
}

.price-with-disc {
    font-size: large;
    font-weight: 800;
    color: rgb(3, 165, 3);
}

.full-price {
    font-weight: 600;
    font-size: small;
    color: grey;
    text-decoration: line-through;
    margin-left: 5px;
}

.discount-percent {
    color: deeppink;
    margin-left: 5px;
    font-weight: 600;
}

.stock-quantity {
    font-size: small;
    color: grey;
    margin-bottom: 10px;
}

.item-title {
    font-weight: 500;
    margin-bottom: 10px;
}

.rating-and-reviews {
    font-size: small;
    color: grey;
}

.add-to-cart-button {
    background-color: bisque;
    width: 100%;
    height: 35px;
    font-size: large;
    font-weight: 600;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    opacity: 0.8;
}

.add-to-cart-button:hover {
    opacity: 1;
}
