.search {
    width: 40%;
    align-self: flex-end;
    border: 2px solid black;
    border-radius: 5px;
}

.search-input {
    width: calc(100% - 30px);
    height: 30px;
    padding-left: 5px;
    border: 0;
}

.search-btn {
    font-size: large;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 214, 164);
    opacity: 0.8;
    border: 0;
    vertical-align: bottom;
    transition: opacity 500ms ease;
}

.search-btn:hover {
    opacity: 1;
}